- name: Install isc-dhcp-relay
  ansible.builtin.apt:
    name: isc-dhcp-relay
    state: present
    update_cache: true

- name: Put isc-dhcp-relay config file
  ansible.builtin.template:
    src: isc-dhcp-relay.j2
    dest: /etc/default/isc-dhcp-relay
    owner: root
    group: root
    mode: '0644'
  notify:
    - Restart isc-dhcp-relay service

- name: Ensure the isc-dhcp-relay service is running
  ansible.builtin.include_tasks: tasks/start_and_check_service.yml
  vars:
    service_name: isc-dhcp-relay
