- name: "Start service: {{ service_name }}"
  ansible.builtin.systemd:
    name: "{{ service_name }}"
    state: started

- name: Wait 3 seconds for service to settle
  ansible.builtin.pause:
    seconds: 3

- name: "Verify service is active: {{ service_name }}" # noqa command-instead-of-module
  ansible.builtin.command: systemctl is-active {{ service_name }}
  register: process_status
  changed_when: false
  failed_when: process_status.stdout.strip() != "active"
