ddns: 
  use: true
  key_name: dhcpupdate.
  key: "{{ vault_ddns_key }}"
  port: 53001
  server_ip: 10.120.69.18

ddns_renders:
  forward_domains: |
    {
      "name": "local.orzehhowski.pl.",
      "key-name": "{{ ddns.key_name }}",
      "dns-servers": [
        { "ip-address": "10.120.69.18", "port": 53 }
      ]
    }

  reverse_domains: |
    {
      "name": "69.120.10.in-addr.arpa.",
      "key-name": "{{ ddns.key_name }}",
      "dns-servers": [
        { "ip-address": "10.120.69.18", "port": 53 }
      ]
    }

  tsig_keys: |
    {
      "name": "{{ ddns.key_name }}",
      "algorithm": "hmac-sha256",
      "secret": "{{ ddns.key }}"
    }

dhcp4_renders:
  interfaces_config: |
    "interfaces": ["eth0"]

  lease_database: | 
    "type": "memfile",
    "persist": true,
    "name": "/var/lib/kea/dhcp4.leases"

  option_data: |
    {
      "name": "domain-name-servers",
      "data": "10.120.69.18"
    },
    {
      "name": "domain-name",
      "data": "local.orzehhowski.pl"
    },
    {
      "name": "domain-search",
      "data": "local.orzehhowski.pl, orzehhowski.pl"
    }

  subnets: |
    {
      "subnet": "10.120.69.80/28",
      "pools": [ { "pool": "10.120.69.82 - 10.120.69.90" } ],
      "option-data": [
        {
          "name": "routers",
          "data": "10.120.69.81"
        },
        {
          "name": "domain-name-servers",
          "data": "10.120.69.18"
        }
      ]
    },
    {
      "subnet": "10.120.69.96/28",
      "pools": [ { "pool": "10.120.69.100 - 10.120.69.105" } ],
      "option-data": [
        {
          "name": "routers",
          "data": "10.120.69.97"
        },
        {
          "name": "domain-name-servers",
          "data": "10.120.69.18"
        }
      ]
    }

  ddns: |
    "enable-updates": true,
    "server-ip": "10.120.69.18",
    "server-port": {{ ddns.port }},
    "sender-ip": "10.120.69.18",
    "sender-port": 0,
    "max-queue-size": 1024,
    "ncr-protocol": "UDP",
    "ncr-format": "JSON",
    "qualifying-suffix": "local.orzehhowski.pl",
    "override-client-update": true

  loggers: |
    {
      "name": "kea-dhcp4",
      "output_options": [
        {
          "output": "/var/log/kea/kea-dhcp4.log",
          "maxver": 8
        }
      ],
      "severity": "INFO",
      "debuglevel": 0
    }

bind9_renders:
  options: |
    directory "/var/cache/bind";

    recursion yes;
    allow-recursion { 10.120.69.0/24; localhost; };

    forwarders {
      8.8.8.8;
      8.8.4.4;
    };

    dnssec-validation auto;

    listen-on { 127.0.0.1; 10.120.69.18; };

  zones: |
    zone "local.orzehhowski.pl" {
      type master;
      file "/var/lib/bind/db.local.orzehhowski.pl";
      allow-update { key "{{ ddns.key_name }}"; };
    };

    zone "69.120.10.in-addr.arpa" {
      type master;
      file "/var/lib/bind/db.10";
      allow-update { key "{{ ddns.key_name }}"; };
    };

  forward_db_records: |
    ns1	IN	A	10.120.69.18
    docmost	IN	A	10.120.69.20
    traggo	IN	A	10.120.69.20
    vaultwarden IN  A 10.120.69.20

