- name: Ensure directories for CA exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ rootca.private_key_path | dirname }}"
    - "{{ rootca.cert_path | dirname }}"


- name: Generate CA private key if not exists
  ansible.builtin.command: >
    openssl genrsa -out {{ rootca.private_key_path }} {{ rootca.key_size }}
  args:
    creates: "{{ rootca.private_key_path }}"
  register: ca_key_result
  notify:
    - Generate CA certificate
