- name: LAB-S02 configuration
  hosts: lab_s02_proxy
  become: true
  tags: server_config
  roles:
    - netplan
    - proxy-server

- name: LAB-S01 configuration
  hosts: lab_s01_fw
  become: true
  tags: server_config
  roles:
    - iptables
    - apt-proxy-client
    - dhcp-relay

- name: LAB-S03 configuration
  hosts: lab_s03_dhcp_dns
  become: true
  tags: server_config
  roles:
    - apt-proxy-client
    - dhcp-server
    - dns-server
    - dhcp-ddns-server

- name: LAB-S04 configuration
  hosts: lab_s04_rootca
  become: true
  tags: server_config
  roles:
    - apt-proxy-client
    - root-ca

- name: Gather LAB-S04 facts after configuration
  hosts: lab_s04_rootca
  become: true
  tags: server_config
  roles:
    - root-ca-facts-gathering

- name: LAB clients configuration
  hosts: clients
  become: true
  tags: client_config
  roles:
    - apt-proxy-client
    - root-ca-cert-upload
