- name: LAB-S02 configuration
  hosts: lab_s02_proxy
  become: true
  roles:
    - netplan
    - proxy-server

- name: LAB-S01 configuration
  hosts: lab_s01_fw
  become: true
  roles:
    - iptables
    - apt-proxy-client
    - dhcp-relay

- name: LAB-S03 configuration
  hosts: lab_s03_dhcp_dns
  become: true
  roles:
    - apt-proxy-client
    - dhcp-server
    - dns-server
    - dhcp-ddns-server
