ddns:
  use: false
  key_name: dhcpupdate.
  key: secret

dns:
  ns1: ns1.local.orzehhowski.pl
  admin: root.local.orzehhowski.pl

bind9_renders:
  options: |
    directory "/var/cache/bind";

    recursion yes;
    allow-recursion { 10.120.69.0/24; localhost; };

    forwarders {
      8.8.8.8;
      8.8.4.4;
    };

    dnssec-validation auto;

    listen-on { 127.0.0.1; 10.120.69.18; };

  zones: |
    zone "local.orzehhowski.pl" {
      type master;
      file "/var/lib/bind/db.local.orzehhowski.pl";
      allow-update { key "{{ ddns.key_name }}"; };
    };

    zone "69.120.10.in-addr.arpa" {
      type master;
      file "/var/lib/bind/db.10";
      allow-update { key "{{ ddns.key_name }}"; };
    };

  forward_db_records: |
    ns1	IN	A	10.120.69.18
